<h1>List of all contacts:</h1>
<ul *ngFor="let contact of contacts">
    <li>
        <a class="btn btn-dark" [routerLink]="['/contact-details/', contact.id]">
            {{ contact.firstName }} {{ contact.lastName }} | 
            category: {{ findCategoryNameById(contact.categoryId) }}
            <span *ngIf="isSubCategoryEmpty(contact.subCategoryId)"> | sub category: {{ findSubCategoryNameById(contact.subCategoryId) }}</span> 
        </a>
    </li>
</ul>
<a class="btn btn-success" [routerLink]="['/contact-new/']">Add new contact</a>